* {
    padding: 0;
    margin: 0;
}

body {
  width: 1200px;
  margin: 20px auto 0 auto;
  font: 100% Lucida Sans, Verdana;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #006600;
}
li {
  float: left;
    padding: 10px;
}
li a {
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

div#logo { 
    float: left;
    margin: 10px;
}
div#image {
    float: right;
    margin: 10px;
}
div#text {
    float: left;
    margin: 10px;
}